/*
bun c: fbf0e1
ora c: fca737
*/
[data-md-color-scheme="bun"] {
    scroll-behavior: smooth;
    --md-primary-fg-color: #fbf0e1;
    --md-primary-fg-color--light: #fbf0e1;
    --md-primary-fg-color--dark: #fbf0e1;
}
:root {
    --md-hue: 35deg !important;
}
span.task-list-indicator::before {
    background-color: #fbf0e1 !important;
}
